.analysis-card {
    .top-row {
        display: flex;
        align-items: center;

        .text-information {
            margin-left: 14px;
            .value {
                font-weight: bold;
            }
            .title {
                color: #b7b6ba;
                font-size: 14px;
            }
        }
    }
    .bottom-row {
        .progress-bar-container {
            margin-bottom: 14px;
            display: flex;
            align-items: center;
            padding-left: 6px;
            .progress-bar-label {
                margin-right: 14px;
                font-weight: 400;
            }
            .progress-bar {
                width: 140px;
            }
        }
        .description {
            padding-top: 12px;
            color: #b7b6ba;
            font-size: 14px;
        }
    }
}
